{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Action": "s3:*",
      "Effect": "Allow",
      "Resource": "arn:aws:s3:::{{ s3_bucket_name }}",
      "Principal": {
        "AWS": [
          "{{ aws_iam_user_arn }}"
        ]
      }
    }
  ]
}